<!doctype html>
<html lang="en" ng-app="sb">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="app/main.js"></script>
  <style>
  li {
    padding: 10px;
    background: #F1F1F1;
    border-bottom: 1px solid #FFF;
    overflow: hidden;
  }
  .newForm {
    padding: 10px;
    background: #F1F1F1;
  }
  </style>
</head>

<body class="container" ng-controller="MainCtrl">

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Taskgular</a>
    </div>
  </div>
  
  
  <div ng-controller="AddCtrl">
    <div class="row">
      <h4 class="span8">My taskgulars<small> <a class="offset1" ng-click="showForm()">Add New</a></small></h4>
    </div>

    <form class="newForm" ng-show="formVisible">
        <input ng-model="desc" placeholder="Task description...">
        <button class="btn btn-primary" ng-click="add()">Add</button>
        <button class="btn" ng-click="hideForm()">Cancel</button>
    </form>
  </div>
  
  <div ng-controller="ListCtrl">
    <form class="form-search">
      <input ng-model="searchText" type="text" class="input-medium search-query span4" placeholder="Search task...">
    </form>
    <ul class="unstyled span8">
      <li ng-repeat="task in tasks | filter:searchText">
        <div class="span6">{{task.desc}}</div>
        <a ng-click="remove($index)">Remove</a>
      </li>
    </ul>
  </div>

</body>
</html>
